@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;600;700;900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700;900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* scroll-behavior: smooth; */
}

body {
    background: #0e0e0e;
    font-family: "Source Sans Pro", Helvetica, sans-serif;

}

.main-container {
    color: #a0a0a1;
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-bottom: 57px;
}

.image-container {
    position: relative;
    flex: 33.33%;
    display: flex;
    cursor: pointer;
}

.image-container img{
    width: 100%;
    max-width: 100%;
    height: auto;
}

.image-description {
    color: #fff;
    font-size: 11.7333px;
    font-weight: normal;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    position: absolute;
    bottom: 25px;
    left: 25px;
}

.footer {
    position: fixed;
    bottom: 0;
    background: #1f2224;
    width: 100%;
    display: flex;
    font-size: 14.6667px;
    letter-spacing: 1.5px;
    justify-content: space-between;
    padding: 20px;
    text-transform: uppercase;
}

.white{
    color: #fff;
}

.info{
    color: #505051;
}

/* The Modal (background) */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background: rgba(0, 0, 0, 0.7);
  }
  
  /* Modal Content */
  .modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    width: 90%;
    max-width: 800px;
  }
  
  /* The Close Button */
  .close {
    color: #505051;
    position: absolute;
    top: 10px;
    right: 25px;
    font-size: 35px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #999;
    text-decoration: none;
    cursor: pointer;
  }
  
  /* Hide the slides by default */
  .mySlides {
    display: none;
  }

  .img-heading{
      position: absolute;
      bottom: 55px;
      left: 25px;
      color: #fff;
      font-size: 16px;
      text-transform: uppercase;
  }

  .img-caption{
      position: absolute;
      bottom: 25px;
      left: 25px;
      color: #fff;
      font-size: 14px
  }
  
  /* Next & previous buttons */
  .prev,
  .next {
    cursor: pointer;
    position: absolute;
    top: 53%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: rgba(62, 34, 163, 0);
    font-weight: bold;
    font-size: 40px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover,
  .next:hover {
    color: #fff
  }
  
  /* Caption text */
  .caption-container {
    text-align: center;
    background-color: black;
    color: white;
  }
  
  img.demo {
    opacity: 0.6;
  }
  
  .active,
  .demo:hover {
    opacity: 1;
  }
  
  img.hover-shadow {
    transition: 0.3s;
  }
  
  .hover-shadow:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

/* Responsive CSS */
@media screen and (max-width:768px){
    .image-container{
        flex: 50%;
    }
    .img-caption{
        line-height: 14px;
        bottom: 15px;
    }
}

@media screen and (max-width:426px){
    .image-container{
        flex: 100%;
    }
    .modal-content{
        width: 100%;
    }
    .next, .prev{
        font-size: 20px;
        top: 60%;
    }
    .img-caption{
        line-height: 14px;
        bottom: 15px;
    }
}